.user-info {
  display: flex;
  margin: 24px 22px 24px;
  background-color: #e5eaec;
  align-items: center;
  padding: 20px 15px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  flex-wrap: wrap;
}

.user-info__name-and-role {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info__title {
  color: darkblue;
  font-size: 14px;
  margin: 5px 0 10px;
}

.user-info__name {
  margin: 5px 0;
}

.user-info__view {
  margin: 0;

  padding: 0;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  height: 36px;
  width: 50px;
  background-color: #008ace;
  margin-left: auto;

  color: #fff;
}

@media screen and (max-width: 600px) {
  .user-info {
    margin: 20px 0;
  }

  .user-info__name-and-role {
    margin: 0;
  }
}

@media screen and (max-width: 350px) {
  .user-info__view {
    margin: 0;
    margin-top: 10px;
    width: 100%;
  }

  .user-info__title {
    font-size: 10px;
  }
}
